[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
caer = "*"
opencv-contrib-python = "*"
opencv-python = "*"
pytesseract = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.9"
